{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
 
 
{% block page_javascript %}
 
    {% render_bundle 'lobby' %}
 
{% endblock %}
 
{% block main_content %}
    <h3>Let's play Obstruction, <span class="text-primary" >{{request.user.username}}</span>!</h3>
    <hr>
    <div id="lobby_component"></div>
{% endblock %}